.about{
    margin-top: 12%;
    padding: 8% 0;
    background: radial-gradient(circle at 10% 20%, rgb(253, 193, 104) 0%, rgb(251, 128, 128) 90%);
    color: white;
}

.imgLogo{
    margin-top: 10%;
    width: 350px;
    height: 350px;
}

@media only screen and (max-width: 728px){
    .imgLogo{
        width: 330px;
        height: 330px;
    }
    
    .titleAbout{
        margin-top: 3%;
    }
}
