.projects{
    margin-top:  8%;
}

.projects h1{
    margin: 6% 0;
} 

.projects .row{
    margin-top: 10%;
}

.project{
    margin-top: 8%;
}

.imgCard .imgProject{
    width: auto;
    height: 400px;
}

/*
  Buttons style.
  You can change background color, size button and

*/
.btnLive, .btnSource, .btnWindows, .btnAndroid{
    margin: 10% 2%;
    color: white;
    background: radial-gradient(circle at 10% 20%, rgb(253, 193, 104) 0%, rgb(251, 128, 128) 90%);/*You can change color*/
    width: 80px;
    height: 50px;
    text-align: center;
    justify-content: center;
}

.moreLessBtn .ba{
    background: radial-gradient(circle at 10% 20%, rgb(253, 193, 104) 0%, rgb(251, 128, 128) 90%);
    /*You can change color*/
    color: #fff;
    /*You can change color*/
    width: 160px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    margin: 5% 0 2% 0;
  }
/*End Button styles*/

/*
   Start animating delayed projects.
   You need to increment for each project by writing row.#(next id number).
*/
.row #one{
    animation-delay: 3s;
}

.row #two{
    animation-delay: 4s;
}

.row #three{
    animation-delay: 5s;
}


/*Finish animating delay projects. */

/*Media style*/
@media only screen and (max-width: 728px){
    .imgCard .imgProject{
        width: 300px;
        height: 300px;
    }
    
    .btnLive, .btnWindows, .btnAndroid, .btnSource{
        width: 60px;
    }

    .row{
        margin: 5% 0;
    }

    .moreLessBtn{
        margin: 20% 0;
    }
}