.contacts{
    margin-top: 8%;
    padding: 8% 0 7% 0;
    justify-content: center;
    justify-items: center;
    background: radial-gradient(circle at 10% 20%, rgb(253, 193, 104) 0%, rgb(251, 128, 128) 90%);/*You can change color*/
}

.container h1{
    margin-bottom: 10%;
}

.contacts .container{
   width: 500px;
}

@media only screen and (max-width: 728px){
    .contacts h1{
        margin-bottom: 15%;
    }

    .contacts .container{
        width: 300px;
    }
}